# Ignore build folder
build/

# Ignore third_party dependencies and other dependent modules
third_party/
flask/
Logs/
uploads/
LocalLaunchPad/
templates.soy
*.pyc

# Others
.DS_Store
*.zip
*.pem
*.db
*.out
*.bak
third_party/closure-compiler
third_party/closure-library
third_party/closure-stylesheets
third_party/js-dossier
