# Ignore build folder
src/build/

# Ignore third_party dependencies and other dependent modules
src/third_party/
src/flask/
src/Logs/
src/uploads/
src/LocalLaunchPad/
templates.soy
*.pyc

# Others
.DS_Store
*.zip
*.pem
*.db
*.out
*.bak
third_party/closure-compiler
third_party/closure-library
third_party/closure-stylesheets
third_party/js-dossier
